doctype html
html
  head
    title Virtual Shared Board
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/retrotemplates.css')
    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', crossorigin='anonymous')
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>

    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js", integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", crossorigin="anonymous")
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/icons8-nota-48.png" sizes="32x32" />
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")


    

  body
  div
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/') VSB
      if user
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/teams')
              | Teams
              span.sr-only (current)
      if !user
        ul.navbar-nav.my-2.my-lg-0
          li.nav-item.active
            a.nav-link(href='/login')
              | Login
              span.sr-only (current)
      if user
        .btn-group(role='group')
          button#btnGroupDrop1(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
           | #{user.firstName} #{user.lastName}
          .dropdown-menu(aria-labelledby='btnGroupDrop1')
            a.dropdown-item(href='/user/details/#{user._id}') Profile
            a.dropdown-item(href='/logout') Logout

      

script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' type='text/javascript')
script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
script(src='/javascripts/main.js')

          
block content


