extends layout

block content
    div.area
        .container
            .login
                .py-5
                    h1= pageTitle
                if(errors)
                    ul.list-group
                        each err in errors
                            li.list-group-item.text-danger= err

                form.form-signin(name='register', method='post', action='/login')
                    .form-group
                        label User
                        input.form-control(type='text' placeholder='Email or Username', name='email')
                    .form-group
                        label Password
                        input.form-control(type='password', placeholder='Password', name='password')
                    
                    input(class='btn btn-primary', type='submit', value='Login')
                    a.btn.btn-default(href='/register') Register


